body {
  background-color: lavenderblush
}
.box {
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(130, 130, 184);
}


.box2 {
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(201, 143, 162);
  color: rgb(80, 70, 70);
  font-size: 15px;
}

h1 {
  color: rgb(201, 143, 162);
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

p
{color: rgb(59, 43, 43);
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

img {
  border: darkslateblue;
  border-width: 6px;
  padding: 4px;
  margin: auto;
  width: 25%;
  height: auto;
  display: block;
  align: left;
}

.main-img {
  width: 30%;
  padding: 10px;
  border: solid rgb(201, 143, 162);
  border-width: 20px;
  background-color: lavenderblush;
  margin-bottom: 10px;
  box-sizing: border-box;
}



.container{
  margin: auto;
  display: block;
  width: 1200px;
  position: relative;







}.wrapper {
  background-color: rgb(201, 143, 162);
  color: aliceblue;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.column-img  {
  padding: 10px;
  background-color: lavenderblush;
  font-size: 1.5em;
  width: 60%;
  margin-left: 100px;
}
.hobbies-img {
  float: left; 
  width: 100%;
 }
.column-text  {
  padding: 30px;
  background-color: lavenderblush;
  font-size: 6px
  width: 60%;
  margin-right: 100px;
  color: rgb(145, 104, 117);
  float:right
}



